# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
bower_components

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS-specific files
*~
.DS_Store

# Temporary folders
.tmp

# Local config
config.json

# Third-party dependencies
services/types/couchapp/lib/vendor
