---
  rules:
    no-unused-expressions: off
    no-throw-literal: off
    global-require: off
    no-underscore-dangle: off
    no-param-reassign: off
    no-restricted-syntax:
      - error
      - DebuggerStatement
      - LabeledStatement
      - WithStatement
  globals:
    start: true
    toJSON: true
    getRow: true
    emit: true
    provides: true
    registerType: true
